<table>
    <thead>
        <tr>
            <th>Order No.</th>
            <th>Name</th>
            <th>Coffee</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of coffeeOrders">
            <td>{{order.payload.doc.data().orderNumber}}</td>
            <td>{{order.payload.doc.data().customerName}}</td>
            <td>
                <div *ngFor="let coffee of order.payload.doc.data().coffeeOrder">{{coffee}}</div>
            </td>

            <td><i class="material-icons" *ngIf="order.payload.doc.data().completed" (click)="markCompleted(order)">check</i></td>
            <td><i class="material-icons" (click)="deleteOrder(order)">delete_forever</i></td>
        </tr>
    </tbody>
</table>
